include LICENSE
include README.md
include setup.cfg
recursive-include External/Eigen *
recursive-include External/nlopt *
include External/nlopt_src.files
recursive-include src/limix *.cpp *.h
recursive-include src/interfaces *.cpp *.txt *.i *.py
recursive-include cython/lmm_forest *
include limix/test/lmm_forest/test_data/lmm_forest_toy_data.h5
recursive-include limix/test/ *.txt
